# Lots of junk goes in here.
/caches/
/backups/

# Don't commit secret stuff!
/link/.ssh/*
/link/.ssh/cache/*
!/link/.ssh/cache/.gitkeep
/link/.ssh/keys/*
!/link/.ssh/keys/.gitkeep
/link/.ssh/conf/hosts.ssh
!/link/.ssh/authorized_keys
!/link/.ssh/config_macos

/link/.aws/cli
/link/.aws/config
/link/.aws/credentials
!/link/.aws/.gitkeep

# vim pluggins
/link/.vim/plugged/

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# Other
.idea
.DS_Store