[user]
  name = Andreas Lind-Johansen
  email = <>
[core]
  editor = subl
  excludesfile = ~/.gitignore_global
  precomposeunicode = true
[alias]
  co = checkout
  ci = commit
  st = status
  stat = status
  lg = log --graph --pretty=format:'%Cred%h %an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lgd = log --graph --pretty=format:'%Cred%h %an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd)%Creset'
  changes = diff --name-status -r
  diffstat = diff --stat -r
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  renames = !GIT_PAGER=\"grep -v '^$' | sort -u\" git --paginate log --follow --name-only --pretty=format:'' --
  amend = commit --amend -C HEAD
  serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
  rbranch = !sh -c 'git push origin HEAD:refs/heads/$1 && git checkout -t origin/$1' -
  prune-all = !git remote | xargs -n 1 git remote prune
  alias = !sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
  clearlocal = !git branch --merged | grep -v master | xargs -n 1 git branch -d
  clearremote = !git branch -r --merged | grep -v master | sed s/origin\\/// | xargs -n 1 git push --delete origin
  stash-all = stash save --include-untracked
[help]
  autocorrect = 1

[apply]
  whitespace = strip

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[push]
  default = tracking

[includeIf "gitdir:~/src/private/"]
  path = ~/.gitconfig_private

[includeIf "gitdir:~/src/spk/"]
  path = ~/.gitconfig_spk

[includeIf "gitdir:~/src/uptime/"]
  path = ~/.gitconfig_uptime
