name: macOS
on: [push]

jobs:
  build:
    name: Test on macOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: bash -c "./bin/dotfiles -p"

      - name: Run tests
        run: |
          export DOTFILES=$PWD
          for t in test/test_*.sh; do bash "$t"; done
